<h1>Todos</h1>
<table>
  <tr *ngFor="let todo of todos; let i = index">
    <td>{{ todo.id }}</td>
    <td>{{ todo.description }}</td>
    <td>{{ todo.summary }}</td>
    <td>
      <button (click)="deleteTodo(todo.id)">Delete</button>
    </td>
  </tr>
</table>
<h2>Todo</h2>
<form #todoForm (ngSubmit)="onSubmit(todoForm)">
  <label for="desc">Description:</label><br />
  <input
    type="text"
    id="desc"
    name="desc"
    required
    [(ngModel)]="formData.description"
    #descriptionInput
  /><br />
  <label for="sum">Summary:</label><br />
  <input
    type="text"
    id="sum"
    name="sum"
    required
    [(ngModel)]="formData.summary"
    #summaryInput
  />
  <br />
  <button type="submit">Add</button>
</form>